* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #111111;
  font-size: 1.6rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

html {
  font-size: 10px;
  min-height: 100vh;
  background-color: #eeeeff;
  background-size: 100%;
  background-image: linear-gradient(#eeeeff, #79d8d8);
  color: #111111;
}

body {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #111111;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

h1 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.7rem;
}

h1, h3 {
  font-family: Palatino, Georgia, Times, "Times New Roman", serif;
  margin: 10px 5px;
}

button, input[type=submit] {
  width: 100px;
  height: 25px;
  background-color: #0057a8;
  color: #fff;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
