* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

html {
  font-size: 10px;
  min-height: 100vh;
  background-color: #eeeeff;
  background-size: 100%;
  background-image: linear-gradient(#eeeeff, #79d8d8);
  color: #111111;
  overflow-x: hidden;
}

body {
  width: 95%;
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 20px;
  background-color: #ffffff;
  color: #111111;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

h1 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.7rem;
}

h1, h3 {
  font-family: Palatino, Georgia, Times, "Times New Roman", serif;
  margin: 10px 5px;
}

p {
  text-align: left;
}

table {
  border-collapse: collapse
}

th {
  background-color: #c7e6ff;
  color: #111111;
  font-size: 2rem;
}

th, td {
  padding: 0 5px;
  text-align: left;
}

button, input[type=submit] {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#total-change {
  font-size: 2.4rem;
}

#add-button, #refresh-button {
  width: 80px;
  margin: 5px 0;
}

#input-form input {
  width: 160px;
  height: 20px;
}

#details-table tr:nth-child(2n+0) td, #details-table tr:nth-child(2n+0) span {
  background-color: #e0ffe0;
  color: #111111;
}

#details-table input {
  width: 100%;
  border: 0;
  background-color: #afedff;
  color: #111111;
}

#details-table input[type=date] {
  width: 150px;
  height: 18px;
}

.date-col {width: 150px;}
.category-col {width: 150px;}
.name-col {width: 150px;}
.income-col {width: 100px;}
.expense-col {width: 100px;}
.button-col {width: 140px;}
